/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/11/01, 11:00:50
    Author     : まゆ
*/
@charset "UTF-8";

head{
	font-family:'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Helvetica Neue', Helvetica, Arial, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	width: 100%;
    }
    
.profileImage{
    border-style: solid 1px #FCB80A;
    border-radius: 4px 4px 4px 4px;   
}
